compass.port=/dev/tty.usbmodem1412

# These min/max configuration values were found by rotating my sensor setup
# and dumping min/max values with the d key in magView.
compass.accelerometer.min=-262, -248, -303
compass.accelerometer.max=262, 269, 207
compass.magnetometer.min=-610, -721, -528
compass.magnetometer.max=674, 518, 615
