compass.port=/dev/tty.usbmodemfd122

# These min/max configuration values were found by rotating my sensor setup
# and dumping min/max values with the d key in magView.
compass.accelerometer.min=-242, -258, -280
compass.accelerometer.max=273, 260, 233
compass.magnetometer.min=-666, -755, -598
compass.magnetometer.max=644, 551, 604
