compass.port=/dev/tty.usbmodem1412

# These min/max configuration values were found by rotating my sensor setup
# and dumping min/max values with the d key in magView.
compass.accelerometer.min=-262, -248, -303
compass.accelerometer.max=262, 269, 207
compass.magnetometer.min=-610, -721, -528
compass.magnetometer.max=674, 518, 615

# These gyro coefficients provide the linear equation (y=ax + b) which relates
# sensor temperature to its bias (drift).
compass.gyro.coefficient.A=0.0118,-0.0033,-0.0013
compass.gyro.coefficient.B=142.0,-88.5,-2.4

# These scale indicates LSBs (least significant bits) per degree.  They should
# be close to the 14.375 value from the ITG-3200 specification.
compass.gyro.scale=14.426,14.170,14.302
