compass.port=/dev/tty.usbmodem1412

# These min/max configuration values were found by rotating my sensor setup
# and dumping min/max values with the d key in magView.
compass.accelerometer.min=-243,-258,-284
compass.accelerometer.max=268,254,226
compass.magnetometer.min=-638,-716,-572
compass.magnetometer.max=622,530,573

# These gyro coefficients provide the linear equation (y=ax + b) which relates
# sensor temperature to its bias (drift).
compass.gyro.coefficient.A=0.0025,-0.0003,0.0026
compass.gyro.coefficient.B=48.138,7.5672,35.951

# These scale indicates LSBs (least significant bits) per degree.  They should
# be close to the 14.375 value from the ITG-3200 specification.
compass.gyro.scale=14.256,14.021,14.160
